<div class="flex items-center justify-center min-h-screen bg-green-100">
  <div class="w-full max-w-4xl p-8 space-y-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center text-green-700">Все посты вашего региона</h2>
    <div class="grid grid-cols-1 gap-8">
      <% @posts.each do |post| %>
        <div class="bg-green-200 rounded-lg p-8 space-y-4">
          <h3 class="text-xl font-semibold text-center"><%= post.title %></h3>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <div>
                <%= image_tag url_for(image), class: 'rounded-lg mb-2' %>
              </div>
            <% end %>
          <% end %>
          <p class="text-gray-700 text-center"><%= post.content %></p>
        </div>
        <% if post.files.attached? %>
          <div class="mb-4">
            <h4>Файлы:</h4>
            <% post.files.each do |file| %>
              <div>
                <%= link_to file.filename, rails_blob_path(file), class: 'text-green-700 hover:text-green-900 underline mb-2' %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
